.header {
    grid-area: header;
    background-color: #222222;
    padding: 5px;
}

.logo {
    width: 70px;
    border-radius: 20px;
}

.ava {
    width: 70px;
    border-radius: 50%;
}

.loginBlock {
    float: right;
}
