.header {
    position: relative;
    grid-area: header;
    background-color: #222222;
    padding: 0px 50px 0px 50px;
    display: block;
}

.logo {
    position: absolute;
    top: 25px;
    width: 70px;
    border-radius: 20px;
}

.title {
    position: absolute;
    margin-top: 42px;
    margin-left: 90px;
    font-size: 24px;
}


.accountBlock {
    cursor: pointer;
    width: 120px;
    height: 100%;
    position: relative;
    float: right;
    transition: 500ms background-color;
}

.ava {
    margin-top: 25px;
    margin-left: 13px;
    width: 70px;
    border-radius: 50%;
}

.accountBlock:hover {
    background-color: #3b3b3b;
    transition: 500ms background-color;
}

.openedSettings {
    background-color: #3b3b3b;
}

.settings {
    position: absolute;
    display: none;
}

.eSettings {
    top: 120px;
    border: 2px solid #dfe1e4;
    position: absolute;
    text-align: center;
    background-color: #141414;
    display: table;
    padding-left: 10px;
    width: 300px;
    right: 50px;
    font-weight: normal;
    border-radius: 5px;
}

.arrow {
    position: absolute;
    width: 20px;
    left: 80px;
    top: 50px;
    margin-left: 10px;
}

.logOut {
    width: 100px;
    margin-left: 100px;
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer;
}

.logIn {
    float: right;
    width: 60px;
    height: 20px;
    margin-top: 50px;
    margin-right: 40px;
    text-align: center;
}

.logIn a {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.logIn a:hover {
    text-decoration: underline;
}

.logOut:hover {
    text-decoration: underline;
}

.logIn a:active {
    color: deepskyblue;
}

.logOut:active {
    color: deepskyblue;
}

@media (max-width: 450px) {
    .title {
        display: none;
    }
}