.normalMessage,
.headMessage {
    padding: 10px 10px 0px 10px;
    font-weight: normal;
    font-size: 14px;
    border-radius: 5px;
    display: grid;
    grid-template-areas:
            "ava text";
    grid-template-rows: 40px auto;
    grid-template-columns: 40px auto;
    grid-gap: 10px;
}

.normalMessage {
    grid-template-rows: 10px auto;
    grid-gap: 10px;
    padding: 2px 2px 2px 10px;
}

.headMessage img {
    width: 40px;
    border-radius: 50%;
}

.normalMessage:hover,
.headMessage:hover {
    background-color: #222222;
    transition: 500ms background-color;
}