.nav {
    grid-area: nav;
    background-color: #141414;
    padding: 20px;
}

.nav a {
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.nav a:active {
    color: deepskyblue;
}

.item {
    margin-bottom: 10px;
}