.item button {
    cursor: pointer;
    padding-block: 4px;
    padding-inline: 4px;
    border-style: ridge;
    border-radius: 10%;
    background-color: #141414;
    border-color: #95969b;
    color: #95969b;
}

.item img {
    width: 60px;
    border-radius: 40px;
}

/*cursor: pointer;*/
/*padding-block: 4px;*/
/*padding-inline: 4px;*/
/*background-color: #141414;*/
/*border-style: solid;*/
/*border-radius: 25%;*/
/*border-color: #95969b;*/
/*color: #95969b;*/