.header {
    z-index: +1 !important;
    position: fixed;
    grid-area: header;
    background-color: #222222;
    display: block;
    width: calc(100vw);
    height: 120px;
    box-shadow: 0 0 10px 10px rgb(255, 255, 255, 0.01)
}

.divWrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1100px;
}

.logo {
    position: fixed;
    top: 25px;
    width: 70px;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgb(255, 255, 255, 0.01);
}

.title {
    position: absolute;
    margin-left: 90px;
    bottom: 45px;
    font-size: 24px;
}


.accountBlock {
    cursor: pointer;
    width: 120px;
    height: 100%;
    position: relative;
    float: right;
    transition: 500ms background-color;
}

.arrow {
    position: absolute;
    width: 20px;
    left: 80px;
    top: 50px;
    margin-left: 10px;
}

.ava {
    margin-top: 25px;
    margin-left: 13px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px rgb(255, 255, 255, 0.01);
}

.accountBlock:hover {
    background-color: #3b3b3b;
    transition: 500ms background-color;
}

/*here starts settings block*/

.openedSettings {
    background-color: #3b3b3b;
}

.settings {
    position: absolute;
    display: none;
}

.eSettings {
    top: 20px;
    right: 193px;
    border: 2px solid #dfe1e4;
    position: relative;
    text-align: center;
    background-color: #141414;
    display: table;
    padding-left: 10px;
    width: 300px;
    font-weight: normal;
    border-radius: 5px;
}

.logOut {
    width: 100px;
    margin-left: 100px;
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer;
}

.logOut:active {
    color: deepskyblue;
}

.logIn {
    float: right;
    margin-right: 10px;
    text-align: center;
}

.logIn button {
    font-size: 16px;
    float: right;
    border-radius: 3px;
    background-color: #282828;
    color: #17689b;
    border: 1px solid #3b3b3b;
    height: 30px;
    width: 80px;
    transition: 400ms border ease-out;
}

.logIn button:hover {
    border: 1px solid #17689b;
    transition: 400ms border ease-out;
    cursor: pointer;
}

@media (max-width: 450px) {
    .title {
        display: none;
    }
}