.content {
    grid-area: content;
    background-color: dimgray;
    padding: 20px;
}

.page {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs {
    padding: 10px;
}

.messages {
    padding: 10px;
}
