.app-wrapper {
    margin: auto;
    display: grid;
    height: 100%;
    grid-template-areas:
  "header header"
  "nav content";

    grid-template-rows: 1fr 120fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    background-color: #141414;
}

body {
    color: #dfe1e4;
    font-size: 16px;
    font-weight: bold;
    font-family: Century Gothic, sans-serif;
}

body a {
    color: #dfe1e4;
}