.app-wrapper {
    margin: auto;
    display: grid;
    height: 100%;
    max-width: 1100px;
    grid-template-areas:
  "nav content";
    grid-template-columns: 230px auto;
    grid-gap: 30px 10px;
    background-color: #141414;
}

body {
    color: #dfe1e4;
    font-size: 17px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    word-break: break-word;
}

body a {
    color: #dfe1e4;
}

.content {
    grid-area: content;
    background-color: #222222;
    margin-right: 10px;
    margin-top: 140px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 10px 10px rgb(255, 255, 255, 0.01);
    min-height: calc(100vh - 280px)
}

@media (max-width: 770px) {
    .app-wrapper {
        grid-template-columns: 150px auto;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #222222;
}

::-webkit-scrollbar-thumb {
    background: #17689b;
    border-radius: 10px;
}
